{% extends "base_generic.html" %} {% block content %}
<h1>Author: {{ author.last_name }}, {{ author.first_name}}</h1>



<p><strong>{{author.date_of_birth}} - {% if author.Date_of_death%}{{author.date_of_death}}{% else %} {% endif %}</strong></p>
{% if perms.catalog.can_edit_author %}
<p><a href="{% url 'author-update' author.pk %}">Update author</a> / <a href="{% url 'author-delete' author.pk %}">Delete author</a></p>
{% endif %}
<div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    {% for book in author.book_set.all %}
    <p><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> (<strong>{{ book.bookinstance_set.count }}</strong>)</p>
    <p>{{ book.summary }}</p>
    {% endfor %}
</div>
{% endblock %}